<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Server.Properties.Settings.UOConnectionString" connectionString="Data Source=localhost;Initial Catalog=UO;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>